{% extends 'kezdesu/base.html' %}
{% load static %}
{% block content %}

    <div class="intro-page">
        <div class="container">
            <h1>Contact</h1>
            <p></p>
        </div>
    </div>
    <div class="wrapper">
        <section class="keep-touch">
            <div class="container">
                <h2>Bailanysta bol</h2>
                <p>.</p>
                <span class="dot-dash dark">.</span>
                <div class="row">
                    <div class="col-md-5">
                        <div class="keep-touch--white">
                            <h4>Bizdin address</h4>
                            <p>Narxoz University<br>Almaty</p>
                            <h4>Qonyrau shal</h4>
                            <p>+ 7705 350 6400</p>
                            <h4>Email</h4>
                            <p><a href="karlygash.ussen@narxoz.kz">karlygash.ussen@narxoz.kz</a></p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="keep-touch--white">
                            <form action="">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Subject">
                                <textarea name="" id="" rows="5" placeholder="Message"></textarea>
                                <input type="submit" class="button small">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
