{% extends 'kezdesu/base.html' %}
{% load static %}
{% block content %}


    <div class="intro-page">
        <div class="container">
            <h1>Senin kezdesu detaldaryn</h1>
            <p></p>
        </div>
    </div>
    <div class="wrapper">
        <section class="keep-touch">
            <div class="container">
                <h2>Bailanysta bol</h2>
                <p>.</p>
                <span class="dot-dash dark">.</span>
                <div class="row" style="width:100%">
                    <div class="col-md-5" style="width:100%">
                        <div class="keep-touch--white" style="width:100%">
                            <h4>Bizdin address</h4>
                            <p>Narxoz University<br>Almaty</p>
                            <h4>Qonyrau shal</h4>
                            <p>+ 7705 350 6400</p>
                            <h4>Email</h4>
                            <p><a href="mailto:contactus@email.com">karlygash.ussen@narxoz.kz</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>


{% endblock content %}
